.raomi-table {
    table{
        border: solid 1px #ccc;
        border-spacing: 0;
        width: 100%;
        clear: both;
        margin: 0;

        td{
            padding: 10px;
        }
    }

} 